* {
}

html {
  font-size: 13px;
  font-family: monospace;
  background-color: #fffbf1;
}

.button1 {
  background-color: #fffbf1;
  color: black;
  border: 2px solid black;
  font-family: monospace;
}

.button1:hover {
  background-color: black;
  color: #fffbf1;
  border: 2px solid #fffbf1;
  transition: none 0.3s ease;
}
